<div class="m-3 border shadow">
  <div class="d-flex flex-column p-4 bg-light">
    <h3><%= link_to flat.name, flat_path(flat) %></h3>
    <h6><%= flat.address %></h6>
    <div class="d-flex">
      <div class="mx-2">
          <i class="fa-solid fa-coins"></i> <%= flat.pricing %>

      </div>
      <div class="mx-2">
          <i class="fa-solid fa-users"></i> 5
      </div>
    </div>
  </div>
</div>
