<div class="text-center py-5">
  <h1>Airbnb Devise - All Flats</h1>
  <p><%= Flat.count %> accommodations to bookings</p>
</div>


<div class="row">
    <% @flats.each do |flat| %>
      <%= render flat %>
    <% end %>
</div>
