<% if !@bookings_visitor.empty? %>
  <div class="card d-flex flex-column p-4 bg-light shadow-sm my-4">
    <h1>My Offers - As Visitor </h1>
    <div class="row">
      <% @bookings_visitor.each do |booking| %>
          <%= render booking %>
      <% end %>
    </div>
  </div>
<% end %>

<% if !@bookings_owner.empty? %>
  <div class="card d-flex flex-column p-4 bg-light shadow-sm my-4">
    <h1>My bookings - As Owner </h1>
    <div class="row">
      <% @bookings_owner.each do |booking| %>
        <%= render booking %>
      <% end %>
    </div>
  </div>
<% end %>

<% if !@flats.empty? %>
  <div class="card d-flex flex-column p-4 shadow-sm my-4">
    <h1>My Flats </h1>
    <div class="row">
        <% @flats.each do |flat| %>
          <%= render flat %>
        <% end %>
    </div>
  </div>
<% end %>