<h1 class="text-center py-5">All Requests to the flat <%= link_to @flat.name, flat_path(@flat), class: "text-decoration-none text-warning" %></h1>

<div class="row">
  <% @bookings.each do |booking| %>
    <%= render booking %>
  <% end %>
</div>
