  <div class="d-flex justify-content-end gap-4 p-3">
  <% if !user_signed_in? %>
      <%= link_to "Login", new_user_session_path, class: "btn btn-primary btn-block" %>
  <% end %>
      <%= link_to "Sign up", new_user_registration_path, class: "btn btn-success btn-block" %><br />
  </div>

<div class="text-center py-5">
  <h1>Welcome to Our Own Space - Airbnb Devise</h1>
  <p>Discover a perfect stay for your adventures</p>
</div>

  <div class="my-5 p-2 text-light text-center bg-primary">
    <h2>Find Your Perfect Stay</h2>
      <%= link_to "See all Apartaments", flats_path, class: "btn btn-light btn-lg" %>
  </div>
