.cards-flat {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: center;

  .card {
    img {
      height: 200px;
      object-fit: cover;
    }
  }
}

@media (max-width: 1150px) {
  .cards-flat {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 766px){
  .cards-flat {
    grid-template-columns: 1fr;
  }
}


.cards-photos {
  img {
    height: 200px;
    object-fit: cover;
    
  }
}
